# Cargo build files
**/target/
**/*.rs.bk

# SQLite databases
**/*.db
**/*.db-wal
**/*.db-shm

# Environment config and keys
**/.env
.env.production

# Python byte-code / cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Debug logs
debug-*.log

# Operating System files
.DS_Store
Thumbs.db
desktop.ini
.aider*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
